body{
  margin: 0%;
}

.navBar{
  background-color: blueviolet;
}

.navUl{
 display: flex;
 flex-direction: row;
 justify-content: space-around; 
 align-items: center;
 margin-top: 0%;

 list-style-type: none;
 padding-inline-start: 0;
}

main{
  min-height: 100vh;
}
.green{
  color: green;
}

.purple{
  color: blueviolet;
}



.githubIcon{
  height: 30px;
  width: 30px;
}
